.home {
  background-color: #f00500;
  height: 100%;
}

.map {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  min-width: 100vw;
}

.footer {
  display: flex;
  height: 300px;
  background-color: #ffa500;
}
