.sliderWhole{
    transform: translate(0%,-60%);
    position: absolute;
    z-index: 999!important;
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    min-width: 100vw;    
    align-items: center;
}
.slider{
    z-index: 999!important;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: space-between;
    max-width: 60vw;
    scroll-behavior: smooth;
    
}
.sliderIcon{
    cursor: pointer;
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
}
.oneBox{
    cursor: pointer;
    box-shadow: rgba(91, 91, 121, 0.25) 0px 13px 27px -5px, rgba(100, 100, 100, 0.603) 0px 8px 16px -8px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: red;
    margin: 0 5px;
    max-width: 18vw;
    min-width: 18vw;
    max-height: 23vh;
}
.NoPicture{
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    margin-bottom: 47px;
    width: fit-content;
}
.onePicture{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    justify-content: center;
}
.oneName{
    font-size: 20px;
    font-weight: 700;
}
.oneAddress{
    font-size: 12px;
    font-weight: 400;
}   