.sliderWhole{
    position: absolute;
    z-index: 999!important;
    transform: translate(6%,-60%);
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: space-between;
    margin: 20px 200px;
    position: absolute;
    max-width: 60vw;
    
}
.oneBox{
    border-radius: 8px;
    padding: 10px;
    background-color: #ffa409;
    color: red;
    margin: 0 5px;
    max-width: 18vw;
    min-width: 18vw;
}
.NoPicture{
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    margin-bottom: 47px;
    width: fit-content;
}
.onePicture{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    justify-content: center;
}
.oneName{
    font-size: 20px;
    font-weight: 700;
}
.oneAddress{
    font-size: 12px;
    font-weight: 400;
}   